annotations:
  category: sso
apiVersion: v2
name: arkid
description: ArkID is an enterprise SSO solutions, it supports LDAP, OpenID, SAML, OAuth and more
type: application
version: 2.0.0
appVersion: "2.0.0"
dependencies:
- condition: mysql.enabled
  name: mysql
  repository: https://github.com/longguikeji/arkid-charts
  version: 8.8.*
- condition: redis.enabled
  name: redis
  repository: https://github.com/longguikeji/arkid-charts
  version: 10.5.*
keywords:
  - arkid
  - SSO
home: https://saas.arkid.cc/
sources:
  - https://github.com/longguikeji/arkid
  - https://github.com/longguikeji/arkid-frontend
maintainers:
- email: jiashuai@longguikeji.com
  name: notevery
icon: https://raw.githubusercontent.com/longguikeji/arkid-charts/v2-dev/chart/assets/arkidlogo.png
