{{- if .Values.ingress.cert -}}
{{- $domain := .Values.ingress.host.name -}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Release.Name }}-crt
  namespace: {{ .Release.Namespace }}
spec:
  renewBefore: 720h
  secretName: {{ .Release.Name }}-crt
  dnsNames:
    - {{ $domain }}
  tls:
    - {{ $domain }}
  acme:
    config:
    - http01:
        ingressClass: nginx
      domains:
      - {{ $domain }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
{{- end }}