{{- if false }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "arkid.redis.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "arkid.redis.fullname" . }}
    helm.sh/chart: {{ include "arkid.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: tcp6379
  selector:
    app.kubernetes.io/name: {{ include "arkid.redis.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
---
apiVersion: {{ template "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ include "arkid.redis.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "arkid.redis.fullname" . }}
    helm.sh/chart: {{ include "arkid.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "arkid.redis.fullname" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "arkid.redis.fullname" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- if .Values.redis.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.redis.nodeSelector | indent 8 }}
      {{- end }}
    {{- if or .Values.redis.nodeAffinity .Values.redis.podAffinity .Values.redis.podAntiAffinity }}
      affinity:
      {{- with .Values.redis.nodeAffinity }}
        nodeAffinity: {{- toYaml . | nindent 10 }}
      {{- end }}
      {{- with .Values.redis.podAffinity }}
        podAffinity: {{- toYaml . | nindent 10 }}
      {{- end }}
      {{- if .Values.redis.podAntiAffinity }}
        podAntiAffinity:
          {{- toYaml .Values.redis.podAntiAffinity | nindent 10 }}
      {{- end }}
    {{- end }}
      initContainers:
      - image: busybox
        command:
        - sh
        - -c
        - echo 65535 > /proc/sys/net/core/somaxconn
        imagePullPolicy: Always
        name: setsysctl
        securityContext:
          privileged: true
      containers:
        - name: {{ include "arkid.redis.fullname" . }}
          image: "{{ .Values.redis.image }}"
          imagePullPolicy: {{ .Values.redis.pullPolicy }}
          env:
            - name: TZ
              value: 'Asia/Shanghai'
{{- end }}