{{- if false }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "arkid.fullname" . }}-register
  labels:
    app.kubernetes.io/managed-by: {{.Release.Service | quote }}
    app.kubernetes.io/instance: {{.Release.Name | quote }}
    helm.sh/chart: "{{.Chart.Name}}-{{.Chart.Version}}"
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation"
spec:
  template:
    metadata:
      name: {{.Release.Name}}-register
      labels:
        app.kubernetes.io/managed-by: {{.Release.Service | quote }}
        app.kubernetes.io/instance: {{.Release.Name | quote }}
        helm.sh/chart: "{{.Chart.Name}}-{{.Chart.Version}}"
    spec:
      restartPolicy: OnFailure
      containers:
      - name: {{ .Chart.Name }}-register
        image: "{{ .Values.webServerBroker.image}}"
        imagePullPolicy: {{ .Values.webServerBroker.pullPolicy }}
        args:
          - "register"
          - "-t"
          - "{{ .Values.webServerBroker.arkOS }}"
          - "-i"
          - "http://{{ include "arkid.fullname" . }}-be:8080"
      {{if .Values.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets }}
      {{- end }}
{{- end }}
